/* General styling for the body  */
body  {
font-family: Arial,sans-serif ;
text-align:  center;
margin:  0;
padding:  0;
background-color:  pink;
}
/*Styling for the  heading */
h1  {
margin: 20px  0;
color: blue;
}
/*Table  styling */
table {
width: 80%;
margin: 20px  auto;
background-color:  yellow;
}
/*Table headers */
th   {
background-color:  green;
color: white;
padding: 10px;
}
/*Table Cells*/
td  {
border: 1px  solid;
padding:  10px;
text-align: center;
}